<style>
    .main-footer {
        background: #fff;
        padding: 5px;
        color: #444;
        border-top: 1px solid #d2d6de;
        bottom: 0;
        left: 0;
        position: fixed;
        right: 0;
        z-index: 999;
    }

    .content-wrapper {
        background: white
    } 

    .example2 th {
        color: white; 
        background-color: #006ba6;
        text-align: center
    }

    .btnTD {
        text-align: center;
    }

    .info {
        font-weight: bold;
    }

    .ui-widget-header {
        border: 1px solid green;
        background: #008d4c;
        color: black;
    }

    .lightbox-modal {
        z-index: 99999 !important;
    }

    .bder {
        border: 0px solid black;
    }

    .table-striped>tbody>tr:nth-child(odd)>td,
    .table-striped>tbody>tr:nth-child(odd)>th {
        background-color: #d9e5f3;
    }

    table.dataTable>tbody>tr.child ul li {
        border-bottom: 0px solid #efefef !important;
    }

    .req-field {
        color: red;
    }

    .paddingZero {
        padding: 0px !important;
    }

    .txtresize {
        resize: vertical;
        min-height: 110px !important;
    }

    .sec-head {
        overflow: hidden;
        animation: bgColor 8s normal forwards;
    }

    .bgPulse {
        width: 100%;
        height: 100%;
    }

    .bgPulse span {
        position: absolute;
        width: 50px;
        height: 50px;
        background: #fff;

    }

    .bgPulse span:nth-child(2n+1) {
        background: transparent;
        border: 5px solid #fff;
    }

    .bgPulse span:nth-child(1) {
        border-radius: 12px;
        top: 30%;
        left: 30%;
        animation: animate 10s linear infinite;
    }

    .bgPulse span:nth-child(2) {
        top: 20%;
        left: 50%;
        animation: animate 15s linear infinite;
    }

    .bgPulse span:nth-child(3) {
        top: 40%;
        left: 70%;
        animation: animate 20s linear infinite;
    }

    .bgPulse span:nth-child(4) {
        border-radius: 12px;
        top: 60%;
        left: 80%;
        animation: animate 12s linear infinite;
    }

    .bgPulse span:nth-child(5) {
        top: 60%;
        left: 40%;
        animation: animate 17s linear infinite;
    }

    .bgPulse span:nth-child(6) {
        border-radius: 12px;
        top: 60%;
        left: 60%;
        animation: animate 22s linear infinite;
    }

    .bgPulse span:nth-child(7) {
        top: 60%;
        left: 20%;
        animation: animate 17s linear infinite;
    }

    @keyframes animate {
        0% {
            transform: scale(0) translateY(0) rotate(0deg);
            opacity: 0;
        }

        50% {
            opacity: 0.4;
        }

        100% {
            transform: scale(1) translateY(-100px) rotate(360deg);
            opacity: 1;
        }
    }

    @keyframes bgColor {
        0% {
            background: #4ab8ff;
        }

        25% {
            background: #30aeff;
        }

        50% {
            background: #17a4ff;
        }

        100% {
            background: #0099fc;
        }
    }

    .fc-day-grid-container {
        overflow: hidden auto !important;
        height: 340px !important;
    }

    .fc-widget-header {
        margin-right: 0px;
    }

    .fc-more-cell {
        text-align: center;
        font-size: 12pt;
        font-weight: bold;
    }

    .fc-view-container {
        border: 1px solid #ddd;
    }

    .fc-day-grid-event {
        background: none;
        border: 0px;
        color: black !important;
        cursor: pointer !important
    }

    .fc-today-button {
        visibility: hidden
    }

    .fc-unthemed td.fc-today {
        background: #cef98a;
    }

    .my-legend .legend-title {
        text-align: left;
        margin-bottom: 8px;
        font-weight: bold;
        font-size: 90%;
    }

    .my-legend .legend-scale ul {
        margin: 0;
        padding: 0;
        float: left;
        list-style: none;
    }

    .my-legend .legend-scale ul li {
        display: block;
        float: left;
        width: 50px;
        margin-bottom: 6px;
        text-align: center;
        font-size: 80%;
        list-style: none;
    }

    .my-legend ul.legend-labels li span {
        display: block;
        float: left;
        height: 25px;
        width: 50px;
        padding: 5px;
    }

    .my-legend .legend-source {
        font-size: 70%;
        color: #999;
        clear: both;
    }

    .my-legend a {
        color: #777;
    }

    @media screen and (max-width: 1440px) {
        .fsto {
            font-size: 20px !important;
        }

        .fsi {
            font-size: 18px !important;
        }

        .sec-head {
            height: 112px !important;
            padding-top: 0px !important;
        }

        h2 {
            font-size: 18px !important;
        }

        .sec-head {
            height: 112px !important;
            padding-top: 0px !important;
        }

        .fc-button-group {
            font-size: 9px;
        }

        .fc-toolbar .fc-header-toolbar {
            margin-bottom: 0px;
        }

        h3 {
            font-size: 20px !important;
        }

        .fsi {
            font-size: 15px !important;
        }

        .ic {
            margin-top: 5px;
            margin-bottom: 5px;
            font-size: 22px !important;
        }

        .p100lr {
            padding-left: 50px !important;
            padding-right: 50px !important;
        }
    }

    @media screen and (max-width: 1280px) {
        h2 {
            font-size: 18px !important;
        }

        .sec-head {
            height: 112px !important;
            padding-top: 0px !important;
        }

        .fc-button-group {
            font-size: 9px;
        }

        .fc-toolbar .fc-header-toolbar {
            margin-bottom: 0px;
        }

        h3 {
            font-size: 20px !important;
        }

        .fsi {
            font-size: 15px !important;
        }

        .ic {
            margin-top: 5px;
            margin-bottom: 5px;
            font-size: 22px !important;
        }

        .p100lr {
            padding-left: 50px !important;
            padding-right: 50px !important;
        }

        .pad {
            padding-top: 10px;
            padding-right: 20px !important;
            padding-left: 20px !important;
        }

    }

    @media screen and (max-width: 1176px) {
        .btn {
            font-size: 13px !important;
        }

    }

    .fsto {
        font-size: 24px;
    }

    .fs {
        font-size: 20px;
    }

    .event-full {
        color: #fff;
        vertical-align: middle !important;
        text-align: center;
        opacity: 1;
    }

    .nomargin {
        margin: 0px !important;
    }

    .p5 {
        padding: 2px;
    }

    .ic {
        margin-top: 5px;
        margin-bottom: 5px;

    }

    .form-group {
        margin: 0px;
    }

    .p100lr {
        padding-left: 100px;
        padding-right: 100px;
    }

    .wfooter {
        position: absolute;
        top: 3%;
        font-size: 20px;
        font-weight: 600;
        color: white;
    }

    .wpn {
        border: 2px solid #0070c0 !important;
        border-top: 40px solid #0070c0 !important;
        overflow: auto;
    }

    .wpnb {
        border: 2px solid #44a3c0 !important;
        border-top: 40px solid #44a3c0 !important;
        overflow: auto;
    }

    .wpnapp {
        border: 2px solid #44b874 !important;
        border-top: 40px solid #44b874 !important;
        overflow: auto;
    }

    .wpn201 {
        border: 2px solid#43bda7 !important;
        border-top: 40px solid#43bda7 !important;
        overflow: auto;
    }

    .wpnnoti {
        border: 2px solid #46b246 !important;
        border-top: 40px solid #46b246 !important;
        overflow: auto;
    }

    .wpnannounce {
        border: 2px solid #70ad47 !important;
        border-top: 40px solid #70ad47 !important;
        overflow: auto;
    }

    .well {
        margin: 0px;
    }

    .mb0 {
        margin-bottom: 0px !important;
    }

    .bh {
        height: 358px;
    }

    .empbox {
        font-size: 64pt;
        font-weight: normal;
        margin-bottom: 5px;
        text-align: center;
        width: auto;
        height: 130px;
        margin-right: auto;
        margin-left: auto;
        background: #f57000;
        vertical-align: middle;

        border-radius: 15px;
        color: white;
    }

    .pad {
        padding-top: 10px;
        padding-right: 40px;
        padding-left: 40px;
    }

    .style-15b::-webkit-scrollbar-track {
        -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.1);
        background-color: #F5F5F5;
        border-radius: 0px;
    }

    .style-15b::-webkit-scrollbar {
        width: 5px;
        background-color: #F5F5F5;
    }

    .style-15b::-webkit-scrollbar-thumb {
        border-radius: 0px;
        background-color: #FFF;
        background-image: -webkit-gradient(linear,
                40% 0%,
                75% 84%,
                from(#5cb8d4),
                to(#44a3c0),
                color-stop(.6, #5cb8d4))
    }

    .style-15app::-webkit-scrollbar-track {
        -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.1);
        background-color: #F5F5F5;
        border-radius: 0px;
    }

    .style-15app::-webkit-scrollbar {
        width: 5px;
        background-color: #F5F5F5;
    }

    .style-15app::-webkit-scrollbar-thumb {
        border-radius: 0px;
        background-color: #FFF;
        background-image: -webkit-gradient(linear,
                40% 0%,
                75% 84%,
                from(#44b874),
                to(#44b874),
                color-stop(.6, #44b874))
    }

    .style-15201::-webkit-scrollbar-track {
        -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.1);
        background-color: #F5F5F5;
        border-radius: 0px;
    }

    .style-15201::-webkit-scrollbar {
        width: 5px;
        background-color: #F5F5F5;
    }

    .style-15201::-webkit-scrollbar-thumb {
        border-radius: 0px;
        background-color: #FFF;
        background-image: -webkit-gradient(linear,
                40% 0%,
                75% 84%,
                from(#43bda7),
                to(#43bda7),
                color-stop(.6, #43bda7))
    }

    .style-15noti::-webkit-scrollbar-track {
        -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.1);
        background-color: #F5F5F5;
        border-radius: 0px;
    }

    .style-15noti::-webkit-scrollbar {
        width: 5px;
        background-color: #F5F5F5;
    }

    .style-15noti::-webkit-scrollbar-thumb {
        border-radius: 0px;
        background-color: #FFF;
        background-image: -webkit-gradient(linear,
                40% 0%,
                75% 84%,
                from(#46b246),
                to(#46b246),
                color-stop(.6, #46b246))
    }

    .style-15announce::-webkit-scrollbar-track {
        -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.1);
        background-color: #F5F5F5;
        border-radius: 0px;
    }

    .style-15announce::-webkit-scrollbar {
        width: 5px;
        background-color: #F5F5F5;
    }

    .style-15announce::-webkit-scrollbar-thumb {
        border-radius: 0px;
        background-color: #FFF;
        background-image: -webkit-gradient(linear,
                40% 0%,
                75% 84%,
                from(#70ad47),
                to(#70ad47),
                color-stop(.6, #70ad47))
    }

    .fa-birthday-cake {
        font-size: 26px;
    }

    .fa-file-pdf-o {
        font-size: 25px;
    }

    h4 {
        font-size: 20px;
    }

    .pt5 {
        padding-top: 8px;
    }
	
	input[disabled] {
		cursor: default;
		background: white;
	}
    .content{
        min-height: 250px;
        padding: 15px;
        margin-right: auto;
        margin-left: auto;
        padding-left: 3px;
        padding-right: 3px;
    }
    
	
	.graphs1{
        display: block;
        width: 570px;
        height: 180px !important;
    }
    .graphs2{
        display: block;
        width: 570px;
        height: 215px !important;
    }
    .graphs3{
        display: block;
        width: 570px;
        height: 240px !important;
    }
    .tm {
        margin-left: 5px;
        margin-right: 5px;

    }
    .piewid{
        height: 160px;
        display: block;
        width: 420px;
        margin-left: 30px;

    }
    .p15 {
		padding-top: 15px;
    }
	.boxl {
        height: 20px;
        width: 20px;
        padding: 0px 10px 0px 10px;
        margin-right: 4px;
    }
    .plabels {
        display: inline;
        margin: 0 10px;
    }
    .legend-labels{
        padding-top:15px;
    }
    .fOThit{
        height: 650px;
    }
	.pieleave{
        display: block;
        width: 570px;
        height: 200px !important;
    }
    .wpnnotiOT {
        overflow: auto;
    }
    .bhOT {
        height: 498px;
    }
    .bhLV {
        height: 200px;
    }
    .style-15notiOT::-webkit-scrollbar-track {
        -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.1);
        background-color: #F5F5F5;
        border-radius: 0px;
    }
    .style-15notiOT::-webkit-scrollbar-track {
        -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.1);
        background-color: #F5F5F5;
        border-radius: 0px;
    }
    .style-15notiOT::-webkit-scrollbar {
        width: 5px;
        background-color: #F5F5F5;
    }
    .style-15notiOT::-webkit-scrollbar-thumb {
        border-radius: 0px;
        background-color: #FFF;
        background-image: -webkit-gradient(linear,
                40% 0%,
                75% 84%, 
                from(#46b246),
                to(#46b246),
                color-stop(.6, #46b246))
    }
	.pad100{
        padding-top:100px; 
    }
    .card {
        /*background-color: #3F3D3F;*/
        font-size: 1.3rem; 
        height: 65rem;
        margin-bottom: 2.2rem;
        /*color: #D4BC8C;*/
        color: #ffffff;
        text-decoration: none;
        text-align: center;
        border-radius: 5px;
        box-shadow: 0px 0px 8px 1px #dcdcdc;
    }
    
    .ui-datepicker-calendar {
        display: none;
    }
</style>
<div class="wrapper" ng-controller="SetMachineController" ng-init="dashboard.active();">   

    <div class="main-header" ng-include="headerTemplate"></div>
    <div class="main-sidebar" ng-include="leftNavigationTemplate"></div>

    <div class="content-wrapper">
        <spinner name="form01spinner" ng-cloak=""> 
            <div class="overlay"></div>
            <div class="spinner">
                <div class="double-bounce1"></div>
                <div class="double-bounce2"></div>
            </div>
            <div class="please-wait">Please Wait...</div>
        </spinner>
        <section class="content-header sec-head"
            style="height: 150px;color: white;text-shadow: 12;box-shadow: 0 8px 6px -6px black;">
            <div style="font-size: 9em;/*color: #00a65a !important;*/">
                <i class="fa"
                    style="background: url('assets/images/plan.png');background-repeat: no-repeat;background-size: 115px;color: transparent;width: 120px;float: left;color:transparent">&nbsp;&nbsp;&nbsp;</i>
                <div style="font-size: 12pt;padding-top: 15px;text-indent:15px">
                    {{compensationCompanyName.company_name}}</div>
                <div style="font-size: 20pt;text-indent:15px">NXPERT EON</div>
                <div style="font-size: 15pt; text-indent:15px"> Machine Master </div>
            </div>
            <ol class="breadcrumb" style="margin-left:125px;background: #f5f5f5 !important">
                <li><a href=".#/admin/home"><i class="fa fa-dashboard"></i> Settings</a></li>
                <li><a href=".#/settings/machine"> Machine Master</a></li> 
            </ol>
            <div class="bgPulse hidden-xs">
                <span></span>
                <span></span>
                <span></span>
                <span></span>
                <span></span>
                <span></span>
                <span></span>
            </div>
        </section>

        <section id="content" class="content" ng-init="getmachineactiontypes()" 
            style="padding-bottom: 50px !important;overflow-y:hidden;padding-top: 10px;">
 
            <div>
                <div id="tab" class="nav-tabs-custom ui-tabs ui-widget ui-widget-content ui-corner-all">
                    <ul class="nav nav-tabs">
                        <li class="active"><a href="#list" data-toggle="tab" aria-expanded="true">Machine Master</a>
                        </li>

                    </ul>
                    <div class="tab-content no-padding">
                        <div class="chart tab-pane active" id="list" style=" position: relative; height: auto; -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
					        padding-top: 20px; margin-bottom: 20px;">
                            <div class="col-md-12">
                                <button type="button"
                                    style="margin-right:1px;background: #0099FC; border: 1px solid #0099FC;width:100px"
                                    class="btn btn-flat btn-primary pull-right" data-toggle="modal"
                                    data-target="#filtermachinemodal" ng-disabled="overalldata.length <= 0 ">
                                    <i class="fa fa-search fa-sm" style="padding:3px "></i>
                                    Search
                                </button>
                                <button type="button"
                                    style="margin-right:3px;background: #0099FC; border: 1px solid #0099FC;width:100px"
                                    class="btn btn-flat btn-primary pull-right" data-toggle="modal"
                                    data-target="#addmachinemodal" ng-disabled="overalldata.length <= 0"
                                    ng-click="resetAdd()">
                                    <i class="fa fa-plus fa-sm" style="padding:3px"></i>
                                    Add
                                </button>
                                <div class="pull-left">
                                    <p style="padding-left: 10px;"> Show
                                        <select style="border: none; background-color: #F8F8F8;"
                                            ng-model="paginationmachine.pageSize">
                                            <option value="10">10</option>
                                            <option value="25">25</option>
                                            <option value="50">50</option>
                                            <option value="100">100</option> 
                                            <option value="500">500</option>
                                        </select> entries
                                    </p>
                                </div>
                                <table
                                    style="font-family: 'Source Sans Pro','Helvetica Neue',Helvetica,Arial,sans-serif; font-size: 14px;margin-top:0 !important;"
                                    class="example2 row-border hover table-striped table-bordered table-condensed ng-isolate-scope dataTable no-footer dtr-inline">
                                    <thead>
                                        <tr class="sss-bg">
                                            <th ng-click="sort('id')">#
                                                <span class="glyphicon sort-icon" ng-show="sortKey=='id'" ng-class="{'glyphicon-chevron-up':reverse,'glyphicon-chevron-down':!reverse}"></span>
                                       
                                            </th>
                                            <th ng-click="sort('alias')">Pic
                                                <span class="glyphicon sort-icon" ng-show="sortKey=='alias'" ng-class="{'glyphicon-chevron-up':reverse,'glyphicon-chevron-down':!reverse}"></span>
                                       
                                            </th>
                                            <th>Machine Code</th>
                                            <th ng-click="sort('name')">Machine Name
                                                <span class="glyphicon sort-icon" ng-show="sortKey=='name'" ng-class="{'glyphicon-chevron-up':reverse,'glyphicon-chevron-down':!reverse}"></span>
                                       
                                            </th>
                                            <th>Description</th>
                                            <th>Locator Code</th> 
                                            <th>Location</th> 
                                            <th>Status</th>
                                            <th class="text-center" style="width:65px;"> Action</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr ng-repeat="t in machinedata | orderBy:sortKey:reverse">
                                            <td class="text-center">{{t.id }}</td>
                                            <td class="image-center">
                                                <img ng-src="{{t.machine_pic}}" alt=" " style="max-width: 50px; max-height: 50px; border-radius: 50%; display: block; margin: 0 auto;">
                                            </td>
                                            <td class="text-center">{{t.machine_code }}</td> 
                                            <td class="text-center">{{t.machine_name }}</td> 
                                            <td class="text-center">{{t.description }}</td>  
                                            <td class="text-center">{{t.locator_code }}</td>
                                            <td class="text-center">{{t.location }}</td>
                                            <td class="text-center">{{t.stats }}</td> 
                                            <td class="text-center">
                                                <button onmouseover="this.style.backgroundColor='#0099FC'"
                                                    onmouseout="this.style.backgroundColor='#0099FC'"
                                                    style="background-color: #0099FC;border-color: #0099FC;font-family: 'Source Sans Pro','Helvetica Neue',Helvetica,Arial,sans-serif; font-size: 12px;"
                                                    class="btn btn-flat btn-sm btn-success" ng-click="edit_view(t)"
                                                    data-target="#updatemachinemodal" data-toggle="modal">
                                                    <i class="fa fa-edit"></i> Update</button>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                                <div style="padding-left: 10px;" class="pull-left" role="status" aria-live="polite">
                                    Showing
                                    {{ (paginationmachine.currentPage * paginationmachine.pageSize) - (paginationmachine.pageSize - 1)  }}
                                    to
                                    {{ (((paginationmachine.currentPage * paginationmachine.pageSize) - 1) + machinedata.length) - (paginationmachine.pageSize - 1)}}
                                    of
                                    {{paginationmachine.totalItems}}
                                    entries
                                </div>
                                <pagination class="pull-right" ng-model="paginationmachine.currentPage"
                                    total-items="paginationmachine.totalItems" max-size="paginationmachine.maxSize"
                                    items-per-page="paginationmachine.pageSize" boundary-links="true">
                                </pagination>

                            </div>
                        </div>
                    </div>
                
                </div>
            </div>

                
                



        </section>
        <!-- modal add -->
        <div id="addmachinemodal" class="modal fade modal-success" data-backdrop="static" role="dialog"
                style="background: rgba(0, 0, 0, 0.8);overflow: scroll !important;" ng-init="getchart()">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header" style="background-color: #0099FC !important;">
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                                    aria-hidden="true">&times;</span></button>
                            <h4 class="modal-title">Add New Machine</h4>
                        </div>
                        <form ng-submit="addmachine()" ng-init="getclass()">
                            <div class="modal-body form-group"
                                style="color:black !important;background:white !important; overflow:auto">
                                <div class="col-md-6">Pic
                                    <input style="border-top: none; border-right: none; border-left: none; border-image: initial; border-bottom: 1px solid black; width: 100%; height: 30px; background: white; padding-top: 0px; padding-bottom: 0px;" type="text" class="form-control" ng-model="add.machine_pic" required>
                                </div>
                                <div class="col-md-6">Machine Code
                                    <input style="border-top: none; border-right: none; border-left: none; border-image: initial; border-bottom: 1px solid black; width: 100%; height: 30px; background: white; padding-top: 0px; padding-bottom: 0px;" type="text" class="form-control" ng-model="add.machine_code" required>
                                </div>  
                                <div class="col-md-6">Machine Name
                                    <input style="border-top: none; border-right: none; border-left: none; border-image: initial; border-bottom: 1px solid black; width: 100%; height: 30px; background: white; padding-top: 0px; padding-bottom: 0px;" type="text" class="form-control" ng-model="add.machine_name" required>
                                </div>  
                                <br><br><br>
                                <div class="col-md-6">Description
                                    <input style="border-top: none; border-right: none; border-left: none; border-image: initial; border-bottom: 1px solid black; width: 100%; height: 30px; background: white; padding-top: 0px; padding-bottom: 0px;" type="text" class="form-control" ng-model="add.description" required>
                                </div>
                                <div class="col-md-6">Locator Code
                                    <input style="border-top: none; border-right: none; border-left: none; border-image: initial; border-bottom: 1px solid black; width: 100%; height: 30px; background: white; padding-top: 0px; padding-bottom: 0px;" type="text" class="form-control" ng-model="add.locator_code" required>
                                </div>  
                                <div class="col-md-6">Location
                                    <input style="border-top: none; border-right: none; border-left: none; border-image: initial; border-bottom: 1px solid black; width: 100%; height: 30px; background: white; padding-top: 0px; padding-bottom: 0px;" type="text" class="form-control" ng-model="add.location" required>
                                </div>  
                                <br><br><br>
                                <div class="col-md-6">Status
                                    <select id="stats" select2 style="border:none;border-bottom: 1px black solid;width:100%;height: 30px;background: white;" class="form-control" ng-model="add.stats" >
                                        <option value="">Active</option>
                                        <option value="Inactive">Inactive</option>
                                    </select>
                                </div>
                                <br><br><br>
                            </div> 
                            <div class="modal-footer" style="background: #0099FC !important; border-color: #0099FC !important;">
                                <button style="width:100px" type="button" class="btn btn-danger pull-left" data-dismiss="modal">Cancel</button>
                                <button style="width:100px" type="submit" class="btn btn-primary btn-raised" data-toggle="modal">Add</button>
                            </div>
                        </form>
                </div>
            </div>
        </div>
        <!-- modal add -->
        <!-- modal filter -->

        <div id="filtermachinemodal" class="modal fade modal-success" data-backdrop="static" role="dialog"
                style="background: rgba(0, 0, 0, 0.8);overflow: scroll !important;" ng-init="genclass()">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header" style="background-color: #0099FC !important;">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                                aria-hidden="true">&times;</span></button>
                        <h4 class="modal-title">Search Machine</h4>
                    </div> 
                        <div class="modal-body form-group"
                            style="color:black !important;background:white !important">
                            
                            <div class="col-md-6">Search
                                <input ng-required=false style="border-top: none; border-right: none; border-left: none; border-image: initial; border-bottom: 1px solid black; width: 100%; height: 30px; background: white; padding-top: 0px; padding-bottom: 0px;" type="text" class="form-control" ng-model="search.machine_name" required>
                            </div>
                            <div class="col-md-6">Status
                                <select select2 id="sstat" ng-required=false style="border:none;border-bottom: 1px black solid;width:100%;height: 30px;background: white;" class="form-control" ng-model="search.stats" >
                                    <option value="Active">Select Status</option>
                                    <option value="All">All</option>
                                    <option value="Active">Active</option>
                                    <option value="Inactive">Inactive</option>
                                </select>
                            </div>
                        </div><br><br><br>
                        <div class="modal-footer" style="background: #0099FC !important; border-color: #0099FC !important;">
                            <button style="width:100px" type="button" class="btn btn-danger pull-left" ng-click="resetSearch()" data-target="#filtermachinemodal" data-toggle="modal">Reset</button>
                            <button style="width:100px" type="button" class="btn btn-primary btn-raised" ng-click="transSearch()" data-target="#filtermachinemodal" data-toggle="modal">Search</button>
                        </div> 
                </div>
            </div>
        </div>

        <!-- modal filter -->
        <!-- modal update -->
        <div id="updatemachinemodal" class="modal fade modal-success" data-backdrop="static" role="dialog"
                style="background: rgba(0, 0, 0, 0.8);overflow: scroll !important;">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header" style="background-color: #0099FC !important;">
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                                    aria-hidden="true">&times;</span></button>
                            <h4 class="modal-title">Update Machine ({{edit.machine_name}})</h4>
                        </div>
                        <form ng-submit="updatemachinetble()">
                            <div class="modal-body form-group"
                                style="color:black !important;background:white !important; overflow: auto;">
                                <div class="col-md-6">Machine Name
                                    <input style="border-top: none; border-right: none; border-left: none; border-image: initial; border-bottom: 1px solid black; width: 100%; height: 30px; background: white; padding-top: 0px; padding-bottom: 0px;" type="text" class="form-control" ng-model="edit.machine_name" id='umachine_name' required>
                                </div>  
                                <div class="col-md-6">Description
                                    <input style="border-top: none; border-right: none; border-left: none; border-image: initial; border-bottom: 1px solid black; width: 100%; height: 30px; background: white; padding-top: 0px; padding-bottom: 0px;" type="text" class="form-control" ng-model="edit.description" id='udescription' required>
                                </div>
                                <div class="col-md-6">Locator Code
                                    <input style="border-top: none; border-right: none; border-left: none; border-image: initial; border-bottom: 1px solid black; width: 100%; height: 30px; background: white; padding-top: 0px; padding-bottom: 0px;" type="text" class="form-control" ng-model="edit.locator_code" id='ulocator_code' required>
                                </div>  
                                <div class="col-md-6">Location
                                    <input style="border-top: none; border-right: none; border-left: none; border-image: initial; border-bottom: 1px solid black; width: 100%; height: 30px; background: white; padding-top: 0px; padding-bottom: 0px;" type="text" class="form-control" ng-model="edit.location" id='ulocation' required>
                                </div>  
                                <br><br><br>
                                <div class="col-md-6">Status
                                    <select id="ustats" select2 style="border:none;border-bottom: 1px black solid;width:100%;height: 30px;background: white;" class="form-control" ng-model="edit.stats" >
                                        <option value="Active">Active</option>
                                        <option value="Inactive">Inactive</option>
                                    </select>
                                </div>
                                <br><br><br>
                            
                                
                            </div>
                            <div class="modal-footer" style="background: #0099FC !important; border-color: #0099FC !important;">
                                <button style="width:100px" type="button" class="btn btn-danger pull-left" data-dismiss="modal" ng-click="resetUpdate()">Cancel</button>
                                <button style="width:100px" type="submit" class="btn btn-primary btn-raised" data-toggle="modal">Update</button>
							</div>
                        </form>
                </div>
            </div>
        </div>
    </div>


    <div ng-include="footerTemplate"></div>

</div>