<style>
    .main-footer {
        background: #fff;
        padding: 5px;
        color: #444;
        border-top: 1px solid #d2d6de;
        bottom: 0;
        left: 0;
        position: fixed;
        right: 0;
        z-index: 999;
    }

    .content-wrapper {
        background: white
    } 

    .example2 th {
        color: white; 
        background-color: #006ba6;
        text-align: center
    }

    .btnTD {
        text-align: center;
    }

    .info {
        font-weight: bold;
    }

    .ui-widget-header {
        border: 1px solid green;
        background: #008d4c;
        color: black;
    }

    .lightbox-modal {
        z-index: 99999 !important;
    }

    .bder {
        border: 0px solid black;
    }

    .table-striped>tbody>tr:nth-child(odd)>td,
    .table-striped>tbody>tr:nth-child(odd)>th {
        background-color: #d9e5f3;
    }

    table.dataTable>tbody>tr.child ul li {
        border-bottom: 0px solid #efefef !important;
    }

    .req-field {
        color: red;
    }

    .paddingZero {
        padding: 0px !important;
    }

    .txtresize {
        resize: vertical;
        min-height: 110px !important;
    }

    .sec-head {
        overflow: hidden;
        animation: bgColor 8s normal forwards;
    }

    .bgPulse {
        width: 100%;
        height: 100%;
    }

    .bgPulse span {
        position: absolute;
        width: 50px;
        height: 50px;
        background: #fff;

    }

    .bgPulse span:nth-child(2n+1) {
        background: transparent;
        border: 5px solid #fff;
    }

    .bgPulse span:nth-child(1) {
        border-radius: 12px;
        top: 30%;
        left: 30%;
        animation: animate 10s linear infinite;
    }

    .bgPulse span:nth-child(2) {
        top: 20%;
        left: 50%;
        animation: animate 15s linear infinite;
    }

    .bgPulse span:nth-child(3) {
        top: 40%;
        left: 70%;
        animation: animate 20s linear infinite;
    }

    .bgPulse span:nth-child(4) {
        border-radius: 12px;
        top: 60%;
        left: 80%;
        animation: animate 12s linear infinite;
    }

    .bgPulse span:nth-child(5) {
        top: 60%;
        left: 40%;
        animation: animate 17s linear infinite;
    }

    .bgPulse span:nth-child(6) {
        border-radius: 12px;
        top: 60%;
        left: 60%;
        animation: animate 22s linear infinite;
    }

    .bgPulse span:nth-child(7) {
        top: 60%;
        left: 20%;
        animation: animate 17s linear infinite;
    }

    @keyframes animate {
        0% {
            transform: scale(0) translateY(0) rotate(0deg);
            opacity: 0;
        }

        50% {
            opacity: 0.4;
        }

        100% {
            transform: scale(1) translateY(-100px) rotate(360deg);
            opacity: 1;
        }
    }

    @keyframes bgColor {
        0% {
            background: #4ab8ff;
        }

        25% {
            background: #30aeff;
        }

        50% {
            background: #17a4ff;
        }

        100% {
            background: #0099fc;
        }
    }

    .fc-day-grid-container {
        overflow: hidden auto !important;
        height: 340px !important;
    }

    .fc-widget-header {
        margin-right: 0px;
    }

    .fc-more-cell {
        text-align: center;
        font-size: 12pt;
        font-weight: bold;
    }

    .fc-view-container {
        border: 1px solid #ddd;
    }

    .fc-day-grid-event {
        background: none;
        border: 0px;
        color: black !important;
        cursor: pointer !important
    }

    .fc-today-button {
        visibility: hidden
    }

    .fc-unthemed td.fc-today {
        background: #cef98a;
    }

    .my-legend .legend-title {
        text-align: left;
        margin-bottom: 8px;
        font-weight: bold;
        font-size: 90%;
    }

    .my-legend .legend-scale ul {
        margin: 0;
        padding: 0;
        float: left;
        list-style: none;
    }

    .my-legend .legend-scale ul li {
        display: block;
        float: left;
        width: 50px;
        margin-bottom: 6px;
        text-align: center;
        font-size: 80%;
        list-style: none;
    }

    .my-legend ul.legend-labels li span {
        display: block;
        float: left;
        height: 25px;
        width: 50px;
        padding: 5px;
    }

    .my-legend .legend-source {
        font-size: 70%;
        color: #999;
        clear: both;
    }

    .my-legend a {
        color: #777;
    }

    @media screen and (max-width: 1440px) {
        .fsto {
            font-size: 20px !important;
        }

        .fsi {
            font-size: 18px !important;
        }

        .sec-head {
            height: 112px !important;
            padding-top: 0px !important;
        }

        h2 {
            font-size: 18px !important;
        }

        .sec-head {
            height: 112px !important;
            padding-top: 0px !important;
        }

        .fc-button-group {
            font-size: 9px;
        }

        .fc-toolbar .fc-header-toolbar {
            margin-bottom: 0px;
        }

        h3 {
            font-size: 20px !important;
        }

        .fsi {
            font-size: 15px !important;
        }

        .ic {
            margin-top: 5px;
            margin-bottom: 5px;
            font-size: 22px !important;
        }

        .p100lr {
            padding-left: 50px !important;
            padding-right: 50px !important;
        }
    }

    @media screen and (max-width: 1280px) {
        h2 {
            font-size: 18px !important;
        }

        .sec-head {
            height: 112px !important;
            padding-top: 0px !important;
        }

        .fc-button-group {
            font-size: 9px;
        }

        .fc-toolbar .fc-header-toolbar {
            margin-bottom: 0px;
        }

        h3 {
            font-size: 20px !important;
        }

        .fsi {
            font-size: 15px !important;
        }

        .ic {
            margin-top: 5px;
            margin-bottom: 5px;
            font-size: 22px !important;
        }

        .p100lr {
            padding-left: 50px !important;
            padding-right: 50px !important;
        }

        .pad {
            padding-top: 10px;
            padding-right: 20px !important;
            padding-left: 20px !important;
        }

    }

    @media screen and (max-width: 1176px) {
        .btn {
            font-size: 13px !important;
        }

    }

    .fsto {
        font-size: 24px;
    }

    .fs {
        font-size: 20px;
    }

    .event-full {
        color: #fff;
        vertical-align: middle !important;
        text-align: center;
        opacity: 1;
    }

    .nomargin {
        margin: 0px !important;
    }

    .p5 {
        padding: 2px;
    }

    .ic {
        margin-top: 5px;
        margin-bottom: 5px;

    }

    .form-group {
        margin: 0px;
    }

    .p100lr {
        padding-left: 100px;
        padding-right: 100px;
    }

    .wfooter {
        position: absolute;
        top: 3%;
        font-size: 20px;
        font-weight: 600;
        color: white;
    }

    .wpn {
        border: 2px solid #0070c0 !important;
        border-top: 40px solid #0070c0 !important;
        overflow: auto;
    }

    .wpnb {
        border: 2px solid #44a3c0 !important;
        border-top: 40px solid #44a3c0 !important;
        overflow: auto;
    }

    .wpnapp {
        border: 2px solid #44b874 !important;
        border-top: 40px solid #44b874 !important;
        overflow: auto;
    }

    .wpn201 {
        border: 2px solid#43bda7 !important;
        border-top: 40px solid#43bda7 !important;
        overflow: auto;
    }

    .wpnnoti {
        border: 2px solid #46b246 !important;
        border-top: 40px solid #46b246 !important;
        overflow: auto;
    }

    .wpnannounce {
        border: 2px solid #70ad47 !important;
        border-top: 40px solid #70ad47 !important;
        overflow: auto;
    }

    .well {
        margin: 0px;
    }

    .mb0 {
        margin-bottom: 0px !important;
    }

    .bh {
        height: 358px;
    }

    .empbox {
        font-size: 64pt;
        font-weight: normal;
        margin-bottom: 5px;
        text-align: center;
        width: auto;
        height: 130px;
        margin-right: auto;
        margin-left: auto;
        background: #f57000;
        vertical-align: middle;

        border-radius: 15px;
        color: white;
    }

    .pad {
        padding-top: 10px;
        padding-right: 40px;
        padding-left: 40px;
    }

    .style-15b::-webkit-scrollbar-track {
        -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.1);
        background-color: #F5F5F5;
        border-radius: 0px;
    }

    .style-15b::-webkit-scrollbar {
        width: 5px;
        background-color: #F5F5F5;
    }

    .style-15b::-webkit-scrollbar-thumb {
        border-radius: 0px;
        background-color: #FFF;
        background-image: -webkit-gradient(linear,
                40% 0%,
                75% 84%,
                from(#5cb8d4),
                to(#44a3c0),
                color-stop(.6, #5cb8d4))
    }

    .style-15app::-webkit-scrollbar-track {
        -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.1);
        background-color: #F5F5F5;
        border-radius: 0px;
    }

    .style-15app::-webkit-scrollbar {
        width: 5px;
        background-color: #F5F5F5;
    }

    .style-15app::-webkit-scrollbar-thumb {
        border-radius: 0px;
        background-color: #FFF;
        background-image: -webkit-gradient(linear,
                40% 0%,
                75% 84%,
                from(#44b874),
                to(#44b874),
                color-stop(.6, #44b874))
    }

    .style-15201::-webkit-scrollbar-track {
        -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.1);
        background-color: #F5F5F5;
        border-radius: 0px;
    }

    .style-15201::-webkit-scrollbar {
        width: 5px;
        background-color: #F5F5F5;
    }

    .style-15201::-webkit-scrollbar-thumb {
        border-radius: 0px;
        background-color: #FFF;
        background-image: -webkit-gradient(linear,
                40% 0%,
                75% 84%,
                from(#43bda7),
                to(#43bda7),
                color-stop(.6, #43bda7))
    }

    .style-15noti::-webkit-scrollbar-track {
        -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.1);
        background-color: #F5F5F5;
        border-radius: 0px;
    }

    .style-15noti::-webkit-scrollbar {
        width: 5px;
        background-color: #F5F5F5;
    }

    .style-15noti::-webkit-scrollbar-thumb {
        border-radius: 0px;
        background-color: #FFF;
        background-image: -webkit-gradient(linear,
                40% 0%,
                75% 84%,
                from(#46b246),
                to(#46b246),
                color-stop(.6, #46b246))
    }

    .style-15announce::-webkit-scrollbar-track {
        -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.1);
        background-color: #F5F5F5;
        border-radius: 0px;
    }

    .style-15announce::-webkit-scrollbar {
        width: 5px;
        background-color: #F5F5F5;
    }

    .style-15announce::-webkit-scrollbar-thumb {
        border-radius: 0px;
        background-color: #FFF;
        background-image: -webkit-gradient(linear,
                40% 0%,
                75% 84%,
                from(#70ad47),
                to(#70ad47),
                color-stop(.6, #70ad47))
    }

    .fa-birthday-cake {
        font-size: 26px;
    }

    .fa-file-pdf-o {
        font-size: 25px;
    }

    h4 {
        font-size: 20px;
    }

    .pt5 {
        padding-top: 8px;
    }
	
	input[disabled] {
		cursor: default;
		background: white;
	}
    .content{
        min-height: 250px;
        padding: 15px;
        margin-right: auto;
        margin-left: auto;
        padding-left: 3px;
        padding-right: 3px;
    }
    
	
	.graphs1{
        display: block;
        width: 570px;
        height: 180px !important;
    }
    .graphs2{
        display: block;
        width: 570px;
        height: 215px !important;
    }
    .graphs3{
        display: block;
        width: 570px;
        height: 240px !important;
    }
    .tm {
        margin-left: 5px;
        margin-right: 5px;

    }
    .piewid{
        height: 160px;
        display: block;
        width: 420px;
        margin-left: 30px;

    }
    .p15 {
		padding-top: 15px;
    }
	.boxl {
        height: 20px;
        width: 20px;
        padding: 0px 10px 0px 10px;
        margin-right: 4px;
    }
    .plabels {
        display: inline;
        margin: 0 10px;
    }
    .legend-labels{
        padding-top:15px;
    }
    .fOThit{
        height: 650px;
    }
	.pieleave{
        display: block;
        width: 570px;
        height: 200px !important;
    }
    .wpnnotiOT {
        overflow: auto;
    }
    .bhOT {
        height: 498px;
    }
    .bhLV {
        height: 200px;
    }
    .style-15notiOT::-webkit-scrollbar-track {
        -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.1);
        background-color: #F5F5F5;
        border-radius: 0px;
    }
    .style-15notiOT::-webkit-scrollbar-track {
        -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.1);
        background-color: #F5F5F5;
        border-radius: 0px;
    }
    .style-15notiOT::-webkit-scrollbar {
        width: 5px;
        background-color: #F5F5F5;
    }
    .style-15notiOT::-webkit-scrollbar-thumb {
        border-radius: 0px;
        background-color: #FFF;
        background-image: -webkit-gradient(linear,
                40% 0%,
                75% 84%, 
                from(#46b246),
                to(#46b246),
                color-stop(.6, #46b246))
    }
	.pad100{
        padding-top:100px; 
    }
    .card {
        /*background-color: #3F3D3F;*/
        font-size: 1.3rem; 
        height: 65rem;
        margin-bottom: 2.2rem;
        /*color: #D4BC8C;*/
        color: #ffffff;
        text-decoration: none;
        text-align: center;
        border-radius: 5px;
        box-shadow: 0px 0px 8px 1px #dcdcdc;
    }
    
    .ui-datepicker-calendar {
        display: none;
    }
</style>
<div class="wrapper" ng-controller="MachineDowntimeController" ng-init="dashboard.active();dashboard.setup()">   

    <div class="main-header" ng-include="headerTemplate"></div>
    <div class="main-sidebar" ng-include="leftNavigationTemplate"></div>

    <div class="content-wrapper">
        <spinner name="form01spinner" ng-cloak=""> 
            <div class="overlay"></div>
            <div class="spinner">
                <div class="double-bounce1"></div>
                <div class="double-bounce2"></div>
            </div>
            <div class="please-wait">Please Wait...</div>
        </spinner>
        <section class="content-header sec-head"
            style="height: 150px;color: white;text-shadow: 12;box-shadow: 0 8px 6px -6px black;">
            <div style="font-size: 9em;/*color: #00a65a !important;*/">
                <i class="fa"
                    style="background: url('assets/images/plan.png');background-repeat: no-repeat;background-size: 115px;color: transparent;width: 120px;float: left;color:transparent">&nbsp;&nbsp;&nbsp;</i>
                <div style="font-size: 12pt;padding-top: 15px;text-indent:15px">
                    {{compensationCompanyName.company_name}}</div>
                <div style="font-size: 20pt;text-indent:15px">NXPERT EON</div>
                <div style="font-size: 15pt; text-indent:15px"> Dashboard</div>
            </div>
            <ol class="breadcrumb" style="margin-left:125px;background: #f5f5f5 !important">
                <li><a href=".#/admin/home"><i class="fa fa-dashboard"></i> Analysis</a></li>
                <li><a href=".#/admin/hr/dashboard"> Dashboard</a></li>
                <li class="active">Charts</li>
            </ol>
            <div class="bgPulse hidden-xs">
                <span></span>
                <span></span>
                <span></span>
                <span></span>
                <span></span>
                <span></span>
                <span></span>
            </div>
        </section>

        <section id="content" class="content"
            style="padding-bottom: 50px !important;overflow-y:hidden;padding-top: 0px;">

            <div class="col-md-12" style="padding-top: 10px;">
                <h3 class="pull-left" style="margin-top: 5px; margin-bottom: 10px;font-weight:600 !important">
                    Dashboard
                </h3>
            </div>  
            <div class="well row" style="background-color: white;height: auto !important;margin: 0px; " >
                <div class="col-md-12 col-xs-12">
                    <p><i class="fa fa-gear" aria-hidden="true"></i><label style="font-weight:600 !important">Search Option</label> </p> 
                </div> 
                <div class="col-md-12 col-xs-12 paddingZero" style="margin-top: 10px;">
                    <div class="col-md-3 col-xs-12">
                        <div class="form-group">
                            <label style="font-weight:600 !important">Select Month</label> 
                            <input autocomplete="off"
                                        style="border-top: none; border-right: none; border-left: none; border-image: initial; border-bottom: 1px solid #d5d5d5; width: 100%; height: 30px; background: white; padding-top: 0px; padding-bottom: 0px;"
                                        name="startDate" id="startDate" class="date-picker" ng-model="filter.month" />
                        </div>
                    </div> 
                    <div class="col-md-3 col-xs-12">
                        <div class="form-group">
                            <label style="font-weight:600 !important">Select a Machine</label> 
                            <select id="selectmachine" multiple
                                    style="border-top: none; border-right: none; border-left: none; border-image: initial; border-bottom: 1px solid #d5d5d5; width: 100%; height: 30px; background: white; padding-top: 0px; padding-bottom: 0px;"
                                    class="form-control" ng-model="filter.machine">
                                    <option ng-repeat="m in machinelist" value="{{m.id}}">{{m.machine_name}}</option>
                            </select>
                        </div>
                    </div>   
                    <div class="col-md-3 col-xs-12">
                        <div class="form-group">
                            <label style="font-weight:600 !important">Display</label>
                            <select select2 id="selchart" class="chart" ng-model="filter.chart" ng-change="select()" style="width:100%">
                                <option value="simp">Simple</option>
                                <option value="adv">Advance</option>
                            </select>
                        </div>
                    </div> 
                </div>
                <div class="col-md-12 col-xs-12 paddingZero"> 
                    <div class="col-md-3 col-xs-3"> 
                    </div> 
                    <div class="col-md-9 col-xs-9" style="padding-top: 35px;"> 
                        <button class="pull-right btn btn-success" style="width:100px;margin:0px 0px 0px 5px; font-weight:600 !important" ng-click="monthlyreport(filter);">Show Data</button> 
                        <button class="pull-right btn btn-success" style="width:100px;margin:0px 0px 0px 5px; font-weight:600 !important" ng-click="PrintAllCharts();">Print Chart</button> 
                    </div>
                </div> 
            </div>
                <div class="col-md-12">
                    <div class="col-md-6">
                        <p class="pull-left" style="padding-left: 10px;margin-top:30px"> Show
                            <select style="border: none; background-color: #F8F8F8;"
                                ng-model="paginationchart.pageSize">
                                <option value="10">10</option>
                                <option value="25">25</option>
                                <option value="50">50</option>
                                <option value="100">100</option> 
                                <option value="500">500</option>
                            </select> entries
                        </p>
                    </div>  
                    <div class="col-md-6">  
                        <pagination class="pull-right" ng-model="paginationchart.currentPage"
                            total-items="paginationchart.totalItems" max-size="paginationchart.maxSize"
                            items-per-page="paginationchart.pageSize" boundary-links="true">
                        </pagination>
                    </div>
                </div>  

                 <!-- <div class="panel panel-default">  
                    <div class="panel-heading" >Test
                        <button class="btn btn-primary pull-right" title="Zoom in/Zoom out Image" data-target="#zoomchart" data-toggle="modal" ng-click="setSelectedIndex(index)" style="background: none; border: none; margin-top: -3px; margin-right: -15px; outline: none;">
                            <i class="fa fa fa-arrows-alt" style="color: black; background: none; border: none;"></i>
                        </button> 
                        <button class="btn btn-primary pull-right" ng-click="PrintSingleImage(index)" title="Print/Save to PDF" style="background: none; border: none; margin-top: -3px; margin-right: -15px; outline: none;">
                            <i class="fa fa fa-print fa-sm" style="color: black;"></i>
                        </button> 
                    </div>    
                    <div class="panel-body"> 
                        <canvas id="modalChartjs" style="height:100px !important" height="895"></canvas>
                    </div>
                </div> -->
 
                <!-- <div class="col-md-6" ng-repeat="(index, chart) in chartdetails">
                    <div class="panel panel-default"> 
                        <div class="panel-heading" style="min-height: 38px;">{{chart.machine_name}} 
                            <button class="btn btn-primary pull-right" title="Zoom in/Zoom out Image" data-target="#zoomchart" data-toggle="modal" ng-click="setSelectedIndex(index)" style="background: none; border: none; margin-top: -3px; margin-right: -15px; outline: none;">
                                <i class="fa fa fa-arrows-alt" style="color: black; background: none; border: none;"></i>
                            </button> 
                            <button class="btn btn-primary pull-right" ng-click="PrintSingleImage(index)" title="Print/Save to PDF" style="background: none; border: none; margin-top: -3px; margin-right: -15px; outline: none;">
                                <i class="fa fa fa-print fa-sm" style="color: black;"></i>
                            </button> 
                        </div>    
                        <div class="panel-body">
                            <canvas id="{{'mixedChart' + $index}}" ></canvas>
                        </div>
                    </div>
                </div> -->
                <div class="col-md-12" >
                    
                    <div class="col-md-12" ng-repeat="(index, chart) in chartdetails">
                        <div class="col-md-2" ></div>
                        <div class="col-md-8" >
                            <div class="panel panel-default"> 
                                <!-- <div class="panel-heading" style="min-height: 38px;">{{chart.machine_name}}
                                    <button class="btn btn-primary pull-right" title="Zoom in/Zoom out Image" data-target="#zoomchart" data-toggle="modal" ng-click="setSelectedIndex(index)" style="background: none; border: none; margin-top: -3px; margin-right: -15px; outline: none;">
                                        <i class="fa fa fa-arrows-alt" style="color: black; background: none; border: none;"></i>
                                    </button> 
                                    <button class="btn btn-primary pull-right" ng-click="PrintSingleImage(index)" title="Print/Save to PDF" style="background: none; border: none; margin-top: -3px; margin-right: -15px; outline: none;">
                                        <i class="fa fa fa-print fa-sm" style="color: black;"></i>
                                    </button> 
                                </div>      -->
                                <div class="panel-body"> 
                                    <canvas id="{{'modalChartjs' + $index}}" style="height:100px !important" height="895"></canvas>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-2" ></div>
                    </div> 
                </div>


                <div id="zoomchart" class="modal fade modal-success" data-backdrop="static" role="dialog" style="background: rgba(0, 0, 0, 0.8); overflow: scroll !important;">
                    <div class="col-md-6" style="position: fixed; top: 50%; left: 50%; transform: translate(-50%, -50%) scale(1.2);">
                        <div class="panel panel-default">
                            <div class="panel-heading" style=" overflow: hidden;">
                                <span style="float: left;">{{modaltitle}}</span>
                                <div style="float: right;">
                                    <button class="btn btn-primary" ng-click="PrintSingleImage(printindex)" title="Print/Save to PDF" style="background: none; border: none; margin-top: -3px; margin-right: -15px; outline: none;">
                                        <i class="fa fa fa-print fa-sm" style="color: black;"></i>
                                    </button>
                                    <button class="btn btn-primary" title="Zoom in/Zoom out Image" data-target="#zoomchart" data-toggle="modal" style="background: none; border: none; margin-top: -8px; margin-right: -15px; outline: none;">
                                        <i class="fa fa fa-window-minimize" style="color: black; background: none; border: none;"></i>
                                    </button>
                                </div>
                                <div style="clear: both;"></div>
                            </div>
                            <div class="panel-body">
                                <canvas id="modalChart"></canvas>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- updated 01-29-2024 - adrian -->


                <!-- <div class="col-md-6" ng-repeat="chart in chartdetails">
                    <div class="panel panel-default">
                        <div class="panel-heading">{{chart.machine}} </div>
                        <div class="panel-body">
                            <canvas id="mixedChart{{$index}}"></canvas>
                        </div>
                    </div>
                </div>    -->

                <div class="col-md-12"> 
                    <div style="padding-left: 10px;" class="pull-left" role="status" aria-live="polite">
                        Showing
                        {{ (paginationchart.currentPage * paginationchart.pageSize) - (paginationchart.pageSize - 1)  }}
                        to
                        {{ (((paginationchart.currentPage * paginationchart.pageSize) - 1) + chartdetails.length) - (paginationchart.pageSize - 1)}}
                        of
                        {{paginationchart.totalItems}}
                        entries
                    </div>
                    <pagination class="pull-right" ng-model="paginationchart.currentPage"
                        total-items="paginationchart.totalItems" max-size="paginationchart.maxSize"
                        items-per-page="paginationchart.pageSize" boundary-links="true">
                    </pagination>
                </div>
                



        </section>
    </div>


    <div ng-include="footerTemplate"></div>

</div>